@use "header";
@use "colors";
@use "home";
@use "game-list";

.App {
  min-height: 100vh;
  background-color: colors.$bg1;
  font-family: "Pretendard";
  display: flex;
  flex-direction: column;
}

.Loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.Button {
  width: fit-content;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  color: colors.$text;
  cursor: pointer;
  user-select: none;
  transition: tranform 0.2s, color 0.2s;

  font: {
    size: 16px;
    weight: 500;
    family: "Pretendard";
  }

  &:hover {
    color: white;
  }

  &:active {
    transform: scale(0.95) !important;
  }
}
