@font-face {
  font-family: "Pretendard";
  src: local("Pretendard-Medium"),
    url("Pretendard-Medium.subset.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard-SemiBold"),
    url("Pretendard-SemiBold.subset.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard-Bold"),
    url("Pretendard-Bold.subset.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard-ExtraBold"),
    url("Pretendard-ExtraBold.subset.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
